.cards
{
    &.grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
        grid-gap: 25px 27px;
        
        .card {
            max-width: 100%;
        }
    }

    &.grid_4 {
        grid-template-columns: repeat(4, minmax(315px, 1fr));
    }
    
    &.inline {
        display: flex;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
        
        .card {
            margin-right: 30px;
            flex-shrink: 0;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}