.about_landing {
    margin-top: 0;
    position: relative;
    overflow-x: hidden;
    background: $dark_blue;
    color: #ffffff;
    border-radius: 20px;

    .about_grid {
        display: grid;
        grid-template-columns: 2fr;
        column-gap: 4rem;
        padding: 5rem 0 6rem 3rem;

        h1 {
            line-height: 43px;
        }

        .about_text {
            grid-column: 1;
            padding: 0 2rem;
        }

        .about_image {
            grid-column: 2;
        }
    }
}

.about_content {
    margin: 0 auto;
    padding: 3rem;
    max-width: 100ch;

    h2 {
        line-height: 43px;
        font-weight: bold;
        font-size: 30px;
    }
}

.about_footer {
    margin: 0 auto;
    padding: 3rem 0 3rem 2rem;
}
