.button
{
    background: $light_blue;
    border-radius: 25.5px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 24px;
    //display: inline-block;
    height: 40px;
    display: inline-flex;
    align-items: center;
    
    &.blue {
        color: $dark_blue;
    }
    
    &.outline {
        border: 1px solid #619ECE;
        background: none;
        color: $dark_blue;
        
        &.small {
            padding: 0 14px;
            height: 30px;
        }
        
        &.dark {
            border-color: #000;
        }

        &.black {
            border-color: #000;
            color: #000;
        }

        &.gray {
            border-color: #D8D8D8;
            color: #000;
        }
    }
}