@page
@{
ViewData["Title"] = "Company Name - Company Profile - Springfield Devs";
}


<main class="company">

    <header class="company-header">

        <div class="information">

            <img class="logo" src="https://i.vimeocdn.com/portrait/5464486_640x640" alt="The Alchemedia Project Logo" />
            <h1>The Alchemedia Project</h1>
            <h2>Integrated Branding Agency</h2>

            <a href="#" class="button">Visit Site</a>

        </div>
        <!-- /.information -->

        <div class="image">
            <img src="https://thealchemediaproject.com/img/TAP.gif" alt="Namey McNamerson" />
        </div>
        <!-- /.image -->

    </header>
    <!-- /.company-header -->

    <!-- Tabbed sections -->
    <section class="company-content tabs">

        <input name="tabs" type="radio" id="tab-1" checked="checked" class="tab" />
        <!-- /.tab -->
        <label for="tab-1" class="label">About</label>
        <!-- /.label -->
        <div class="panel about">
            
            <div class="col-1">
    
                <div class="metadata">

                    <div class="flag">
                        <!-- TODO modularize with the figcaption? -->
                        <div>Platinum Sponsor</div>
                    </div>
    
                    <div class="location">
                        <i class="icon fas fa-map-marker-alt"></i>
                        Location, ST
                    </div>
                    <!-- /.location -->
    
                    <div class="member-since">
                        <i class="icon fas fa-calendar-alt"></i>
                        Member since whenever
                    </div>
                    <!-- /.member-since -->
    
                </div>
                <!-- /.metadata -->

                <div class="socials">

                    <h3>Social</h3>
        
                    <ul>
                        <li class="social website">
                            <a href="#"><i class="icon fa fa-globe"></i> thealchemediaproject.com</a>
                        </li>
                        <li class="social twitter">
                            <a href="#"><i class="icon fab fa-twitter"></i> Twitter</a>
                        </li>
                        <li class="social linkedin">
                            <a href="#"><i class="icon fab fa-linkedin"></i> LinkedIn</a>
                        </li>
                        <li class="social facebook">
                            <a href="#"><i class="icon fab fa-facebook"></i> Facebook</a>
                        </li>
                        <li class="social instagram">
                            <a href="#"><i class="icon fab fa-instagram"></i> Instagram</a>
                        </li>
                    </ul>
        
        
                    <!-- <div class="social website">
                        <a href="#"><i class="icon fas fa-globe"></i> website</a>
                    </div> -->
                    <!-- /.website -->
        
                    <!-- <div class="social twitter">
                        <a href="#"><i class="icon fab fa-twitter"></i> twitter</a>
                    </div> -->
                    <!-- /.twitter -->
        
                    <!-- <div class="social instagram">
                        <a href="#"><i class="icon fab fa-instagram"></i> instagram</a>
                    </div> -->
                    <!-- /.instagram -->
        
                </div>
                <!-- /.social -->

            </div>

            <div class="col-2">

                <div class="bio">
                    <h3>Biography</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, sed vero molestias dolor minus placeat ad harum a cumque facere. Aspernatur sint ratione vel sapiente corrupti accusamus dicta laudantium. Ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in, ea corporis sint sunt vel nostrum, earum saepe aliquam veritatis exercitationem asperiores quis doloribus. Rerum dignissimos dolorum sint veniam est.
                    </p>
    
                    <p>Sit amet consectetur adipisicing elit. Odio fugiat nemo, alias rerum blanditiis nisi error similique rem accusamus vel accusantium amet ratione voluptatum culpa aperiam vitae laudantium mollitia laboriosam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque repellat saepe molestias, hic eos inventore doloremque doloribus praesentium explicabo id assumenda corrupti vero, fugit exercitationem! Dolor molestiae hic vel commodi?</p>
                </div>
                <!-- /.bio -->
                
                <div class="skills">
                    <h3>Skills</h3>
                    <div class="skill-list">

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                    </div>
                    <!-- /.skill-list -->
                </div>
                <!-- /.skills -->

            </div>

        </div>
        <!-- /.panel -->

        <input name="tabs" type="radio" id="tab-2" class="tab" />
        <!-- /.tab -->
        <label for="tab-2" class="label">Archive <span>6</span></label>
        <!-- /.label -->            
        <div class="panel archive">

            <h3>Archive</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, sed vero molestias dolor minus placeat ad harum a cumque facere. Aspernatur sint ratione vel sapiente corrupti accusamus dicta laudantium. Ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in, ea corporis sint sunt vel nostrum, earum saepe aliquam veritatis exercitationem asperiores quis doloribus. Rerum dignissimos dolorum sint veniam est.
            </p>

        </div>
        <!-- /.panel -->

        <input name="tabs" type="radio" id="tab-3" class="tab" />
        <!-- /.tab -->
        <label for="tab-3" class="label">Members <span>12</span></label>
        <!-- /.label -->            
        <div class="panel archive">

            <h3>Members</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, sed vero molestias dolor minus placeat ad harum a cumque facere. Aspernatur sint ratione vel sapiente corrupti accusamus dicta laudantium. Ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in, ea corporis sint sunt vel nostrum, earum saepe aliquam veritatis exercitationem asperiores quis doloribus. Rerum dignissimos dolorum sint veniam est.
            </p>

        </div>
        <!-- /.panel -->

        <input name="tabs" type="radio" id="tab-4" class="tab" />
        <!-- /.tab -->
        <label for="tab-4" class="label">Jobs <span>4</span></label>
        <!-- /.label -->            
        <div class="panel archive">

            <h3>Jobs</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, sed vero molestias dolor minus placeat ad harum a cumque facere. Aspernatur sint ratione vel sapiente corrupti accusamus dicta laudantium. Ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in, ea corporis sint sunt vel nostrum, earum saepe aliquam veritatis exercitationem asperiores quis doloribus. Rerum dignissimos dolorum sint veniam est.
            </p>

        </div>
        <!-- /.panel -->

        <!-- /.tabs -->

    </section>
    <!-- /.company-content -->

</main>
<!-- /.company -->