@page
@{
ViewData["Title"] = "Group Name - Group Profile - Springfield Devs";
}


<main class="group">

    <header class="group-header">

        <div class="information">

            <p class="category">Group</p>
            <h1>Springfield Amazon Web Services User Group</h1>

            <a href="#" class="button">Visit Site</a>

        </div>
        <!-- /.information -->

        <div class="video">
        
            <iframe src="https://www.youtube.com/embed/3a5mR5xoUbc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <!-- /.video -->

    </header>
    <!-- /.group-header -->

    <!-- Tabbed sections -->
    <section class="group-content tabs">

        <input name="tabs" type="radio" id="tab-1" checked="checked" class="tab" />
        <!-- /.tab -->
        <label for="tab-1" class="label">About</label>
        <!-- /.label -->
        <div class="panel about">
            
            <div class="col-1">
    
                <div class="metadata">
    
                    <div class="location">
                        <i class="icon fas fa-map-marker-alt"></i>
                        Location, ST
                    </div>
                    <!-- /.location -->
    
                    <div class="member-since">
                        <i class="icon fas fa-calendar-alt"></i>
                        Established whenever
                    </div>
                    <!-- /.member-since -->
    
                </div>
                <!-- /.metadata -->

                <div class="image">
                    <img src="https://placekitten.com/1400/1000" alt="Namey McNamerson" />
                </div>
                <!-- /.image -->

                <div class="socials">

                    <h3>Social</h3>
        
                    <ul>
                        <li class="social website">
                            <a href="#"><i class="icon fa fa-globe"></i> /SGF-AWS</a>
                        </li>
                        <li class="social twitter">
                            <a href="#"><i class="icon fab fa-twitter"></i> Twitter</a>
                        </li>
                        <li class="social linkedin">
                            <a href="#"><i class="icon fab fa-linkedin"></i> LinkedIn</a>
                        </li>
                        <li class="social facebook">
                            <a href="#"><i class="icon fab fa-facebook"></i> Facebook</a>
                        </li>
                        <li class="social instagram">
                            <a href="#"><i class="icon fab fa-instagram"></i> Instagram</a>
                        </li>
                        <li class="social youtube">
                            <a href="#"><i class="icon fab fa-youtube"></i> Youtube</a>
                        </li>
                    </ul>
        
        
                    <!-- <div class="social website">
                        <a href="#"><i class="icon fas fa-globe"></i> website</a>
                    </div> -->
                    <!-- /.website -->
        
                    <!-- <div class="social twitter">
                        <a href="#"><i class="icon fab fa-twitter"></i> twitter</a>
                    </div> -->
                    <!-- /.twitter -->
        
                    <!-- <div class="social instagram">
                        <a href="#"><i class="icon fab fa-instagram"></i> instagram</a>
                    </div> -->
                    <!-- /.instagram -->
        
                </div>
                <!-- /.social -->

            </div>

            <div class="col-2">

                <div class="bio">
                    <h3>Biography</h3>
                    <p>Springfield Amazon Web Services (SGF AWS) User Group is a community-based user group that promotes and advocates for Amazon Web Services in the Springfield Missouri region.
                    </p>
                    <p>We meet during Dev Night (<a href="https://meetup.com/sgfdevs/">https://meetup.com/sgfdevs/</a>) (every 1st Wednesday) at The eFactory. Social/Food/Drinks 6pm, Announcements 6:30pm, Presentation 7pm-8pm. Visit our Meetup Page (<a href="https://meetup.com/sgf-aws">https://meetup.com/sgf-aws</a>) for any last minute meeting announcements.</p>
                    <p>Subscribe to our YouTube Channel (<a href="https://www.youtube.com/c/sgfaws">https://www.youtube.com/c/sgfaws</a>) and register for upcoming events on our Meetup page (<a href="https://www.meetup.com/sgf-aws/">https://www.meetup.com/sgf-aws/</a>).</p>
                    <p>Join our conversation in the #AWS channel of the SGF Devs Slack Group (https:// sgfdevs.slack.com)! Need an invite? Click here. (<a href="https://sgfdev.slack.matasgf.com/">https://sgfdev.slack.matasgf.com/</a>)</p>
                    <p>Subscribe to local events on the Forward Springfield Technology Calendar (<a href="https://fwdsgf.com">https://fwdsgf.com</a>).</p>
                </div>
                <!-- /.bio -->
                
                <div class="skills">
                    <h3>Skills</h3>
                    <div class="skill-list">

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                        <a href="#" class="button outline skill">Skill <span class="count">(0)</span></a>
                        <!-- /.button outline skill -->

                    </div>
                    <!-- /.skill-list -->
                </div>
                <!-- /.skills -->

            </div>

        </div>
        <!-- /.panel -->

        <input name="tabs" type="radio" id="tab-2" class="tab" />
        <!-- /.tab -->
        <label for="tab-2" class="label">Events <span>12</span></label>
        <!-- /.label -->            
        <div class="panel archive">

            <h3>Events</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, sed vero molestias dolor minus placeat ad harum a cumque facere. Aspernatur sint ratione vel sapiente corrupti accusamus dicta laudantium. Ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in, ea corporis sint sunt vel nostrum, earum saepe aliquam veritatis exercitationem asperiores quis doloribus. Rerum dignissimos dolorum sint veniam est.
            </p>

        </div>
        <!-- /.panel -->

        <input name="tabs" type="radio" id="tab-3" class="tab" />
        <!-- /.tab -->
        <label for="tab-3" class="label">Leaders <span>4</span></label>
        <!-- /.label -->            
        <div class="panel archive">

            <h3>Leaders</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, sed vero molestias dolor minus placeat ad harum a cumque facere. Aspernatur sint ratione vel sapiente corrupti accusamus dicta laudantium. Ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in, ea corporis sint sunt vel nostrum, earum saepe aliquam veritatis exercitationem asperiores quis doloribus. Rerum dignissimos dolorum sint veniam est.
            </p>

        </div>
        <!-- /.panel -->

        <input name="tabs" type="radio" id="tab-4" class="tab" />
        <!-- /.tab -->
        <label for="tab-4" class="label">Members <span>29</span></label>
        <!-- /.label -->            
        <div class="panel archive">

            <h3>Members</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, sed vero molestias dolor minus placeat ad harum a cumque facere. Aspernatur sint ratione vel sapiente corrupti accusamus dicta laudantium. Ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in, ea corporis sint sunt vel nostrum, earum saepe aliquam veritatis exercitationem asperiores quis doloribus. Rerum dignissimos dolorum sint veniam est.
            </p>

        </div>
        <!-- /.panel -->

        <input name="tabs" type="radio" id="tab-5" class="tab" />
        <!-- /.tab -->
        <label for="tab-5" class="label">Archive <span>62</span></label>
        <!-- /.label -->            
        <div class="panel archive">

            <h3>Archive</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, sed vero molestias dolor minus placeat ad harum a cumque facere. Aspernatur sint ratione vel sapiente corrupti accusamus dicta laudantium. Ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in, ea corporis sint sunt vel nostrum, earum saepe aliquam veritatis exercitationem asperiores quis doloribus. Rerum dignissimos dolorum sint veniam est.
            </p>

        </div>
        <!-- /.panel -->

        <!-- /.tabs -->

    </section>
    <!-- /.group-content -->

</main>
<!-- /.group -->