@page
@{
    ViewData["Title"] = "Register - Springfield Devs";
}

<form class="form">
    <header>
        <h1>Get started with your account</h1>
        <p>
            Meet your peers. Engage with experts. Iron sharpening iron, you get it. Do it all with a membership to Springfield Devs. Already have an account? <a href="#">Log in</a>
        </p>
    </header>
    

    <div class="field">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName"  />
    </div>
        
    <div class="field">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName"  />
    </div>
    
    <div class="field">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
    </div>
    
    <div class="field">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"  />
    </div>
    
    <div class="field">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
    </div>
    
    <footer>
        <button class="button tall wide" type="submit">Get Started!</button>
        <p>
            By clicking the “get started” button, you are creating a Springfield Devs account, and you agree to Springfield Devs  <a href="#">Code of Conduct</a>. 
        </p>
    </footer>
</form>

<div class="mt_75"></div>